* {
  box-sizing: border-box;
}

html,
h1,
h2,
h3,
p,
body,
ul,
li,
button,
input,
textarea {
  margin: 0;
  outline: 0;
}

a {
  text-decoration: none;
  color: #fff;
  transition: color 0.4s;

  &:focus,
  &:hover {
    outline: 0;
  }
}

ul {
  list-style: none;
}

button {
  &:focus {
    outline: none;
  }
}
